html,body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.hero.is-success {
    background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
::placeholder {
    #color:red !important;
    opacity:1;
}
.box {
    margin-top: 5rem;
}
.label {
    #color:blue;
    text-align:left;
}
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}
.avatar img {
    width:250px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
    font-weight: 300;
}
p {
    font-weight: 700;
}
p.subtitle {
    padding-top: 1rem;
}

hr{
    border-bottom: 1px solid black;
}

.has-text-black{
    color: black;
}

.field{
    padding-bottom: 10px;
}
